server {
  listen 80;
  server_name <%= @fqdn %>;
  server_tokens off;
  return 301 https://<%= @fqdn %>$request_uri;
}

server {
  listen 443;
  server_name <%= @fqdn %>;
  server_name_in_redirect off;
  server_tokens off;
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  ssl on;
  ssl_certificate /etc/ssl/<%= @fqdn %>.crt;
  ssl_certificate_key /etc/ssl/<%= @fqdn %>.key;
  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

  root <%= @piwik_install_path %>/piwik;
  index index.php;

  fastcgi_index index.php;

  location ~ /piwik\.php {
    auth_basic "off";
    include /etc/nginx/fastcgi_params;
    keepalive_timeout 0;
    fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_pass <%= @php_fpm_pass %>;
  }

  location ~ /piwik\.js {
    auth_basic "off";
  }

  location ~ \.php {
    auth_basic "Piwik";
    auth_basic_user_file /etc/nginx/.htpasswd;
    include /etc/nginx/fastcgi_params;
    keepalive_timeout 0;
    fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_pass <%= @php_fpm_pass %>;
  }

  location ~ {
    auth_basic "Piwik";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
}
